#!/bin/bash
DATE=`date +"%Y%m%d"`

mkdir {{ consul_backup_dir }}

consul snapshot save {{ consul_backup_dir }}/$DATE-consul-backup.snap

# Delete Backups older than X days
find /backup/* -mtime +{{ consul_backup_age }} -ls
